{{ define "title" }}{{ .Product.Name }}{{ end }}

{{ define "content" }}
<div class="row">
    <div class="col-6 m-auto">
        <div class="card">
            <img src="https://picsum.photos/600/300" class="card-img-top" alt="{{ .Product.Description }}">
            <div class="card-body">
                <h5 class="card-title">{{ .Product.Name }}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary" data-price="{{ .Product.Price }}">{{ .Product.FormattedPrice }}</h6>
                <p class="card-text">{{ .Product.Description }}</p>
                <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
        </div>

    </div>
</div>
{{ end }}