{{ define "title" }}Gopher plushie{{ end }}

{{ define "content" }}
<div class="row">
    <div class="col-6 m-auto">
        <div class="card">
            <img src="https://picsum.photos/600/300" class="card-img-top" alt="Product description">
            <div class="card-body">
                <h5 class="card-title">Gopher plushie</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">€ 12,99</h6>
                <p class="card-text">A small purple Gophier plushie, perfect for kids and adults alike.</p>
                <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
        </div>

    </div>
</div>
{{ end }}